<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" 
        crossorigin="anonymous"/>
    <link href="all.css" rel="stylesheet">
    <link rel="stylesheet" href="main.css"/>
    <title>Card Preview</title>
</head>
<body>
    <div class="container">
        <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
            <h5 class="my-0 mr-md-auto font-weight-normal"><a href = "index.html">Page Name</a></h5>
            <nav class="my-2 my-md-0 mr-md-3">
                <a class="btn btn-outline-primary" href="signup.html">Sign up</a>
            </nav>
        </div>
    </div>

    <div class="container">
    <div class="card-wrapper">
        <div class="card">
            <div class="card-front">
                <div class="left">
                    <img src="logo.png"/>
                    <h4><span>Web</span> Design</h4>
                </div>
                    <div class="right">
                        <div class="person right-content">
                            <i class="fas fa-user-tie"></i>
                            <div>
                                <h4>John Smith</h4>
                                <p>Web Design</p>
                            </div>
                        </div>
                        <div class="phone right-content">
                            <i class="fas fa-phone"></i>
                            <div>
                                <p>+555-5555-5555</p>
                                <p>+555-5555-5555</p>
                            </div>
                        </div>
                        <div class="email right-content">
                            <i class="fas fa-envelope-open"></i>
                            <div>
                                <p>johnsmith@gmail.com</p>
                            </div>
                        </div>
                        <div class="address right-content">
                            <i class="fas fa-map-marker-alt"></i>
                            <div>
                                <p>Main Street 123</p>
                                <p>New York, NY</p>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="card-back">
                <img src="logo.png"/>
            </div>
        </div>
    </div>

    <footer class="index-footer">
        <br>
        <p>Team2DE</p>
      </footer>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>l