<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Complete Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
        <h5 class="my-0 mr-md-auto font-weight-normal"><font color=#007bff>Welcome to Page Name</font></h5>
        <nav class="my-2 my-md-0 mr-md-3">
            <a class="btn btn-outline-primary" id="logout-button" href="#">Log out</a>
        </nav>
    </div>
    <main role="main">
        <section class="jumbotron text-center">
            <div class="container">
                <h1 class = "mainText">Congratulations!!!</h1>
                <p class="lead text-muted">You just created your own digital business card. 
                    <br>You can access and share it here.
                </p>
                <p>
                    <a class="btn btn-primary my-2" href="#">Place holder</a>
                </p>
            </div>
        </section>
  
        <div class="container marketing">
            <h2 class="jumbotron-heading" align="center">Thank you for choosing our service! ✌️</h2>
        </div>
  
        <footer class="index-footer">
            <br>
            <p>Team2DE</p>
        </footer>
    </main>
  
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="scripts/main.js" charset="utf-8"></script>
    
</body>
</html>